* {
  margin: 0;
}
@font-face {
  font-family: "IGfont1";
  src: local("IGfont1"), url(./fonts/ProximaNova-Regular.otf) format("opentype");
}
.post {
  max-width: 600px;
  background-color: #fff;
  border: 1px solid lightgray;
  margin-bottom: 45px;
}
.post__username {
  font-size: 15px;
  font-weight: normal;
  color: rgb(38, 38, 52);
  font-family: IGfont1;
  cursor: pointer;
}
.post__username:hover {
  text-decoration: underline;
}
.post__image {
  width: 100%;
  object-fit: contain;
  height: 400px;
  border-top: 1px solid lightgray;
  border-top: 1px solid lightgray;
  cursor: pointer;
}

.post__text {
  font-weight: normal;
  padding: 15px;
  font-family: IGfont1;
  font-size: 14px;
  border-top: 1px solid lightgray;
}
.post__header {
  display: flex;
  align-items: center;
  padding: 10px 15px;
}
.post__avatar {
  margin-right: 10px;
  font-size: 15px !important;
  align-items: center;
  width: 30px !important;
  height: 30px !important;
}
.post__user {
  color: rgb(38, 38, 52);
  cursor: pointer;
  padding-right: 5px;
}
.post__user:hover {
  text-decoration: underline;
}
.post__commentBox {
  display: flex;
  margin: 10px;
}
.post__input {
  flex: 1;
  border: none;
  padding: 10px;
  border-top: 1px solid lightgray;
}
.post__button {
  flex: 0;
  border: none;
  color: #6082a3;
  border-top: 1px solid lightgray;
}
.post__comments {
  padding: 20px;
}
